* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
  width: 100%;
  h2 {
    color: blueviolet;
    text-align: center;
  }
  h1 {
    color: #e86ba7;
    margin-bottom: 5rem;
    font-weight: bolder;
    font-size: xx-large;
  }
}

main {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: flex;
  max-width: 100%;
  background-color: #143447;
  border-bottom: solid #ff0763;
  justify-content: space-around;
  overflow: hidden;
  padding: 0 5rem;
}
.logo {
  width: 5rem;
  height: 5rem;
}
.navitems {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: 50%;
  align-items: center;
  justify-content: flex-end;

  .link {
    color: aliceblue;
    text-decoration: none;
    &:hover {
      color: #ff0763;
    }
  }
}

.info-section {
  display: flex;
  padding: 5rem;
  gap: 5rem;
  max-width: 90%;
  align-items: center;
  margin: 1.5rem 0;
  box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -webkit-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -moz-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);

  .info-container {
    display: flex;
    flex-direction: column;

    .info-paragraph {
      width: 100%;
      margin-bottom: 5rem;
    }
    .info-button {
      display: flex;
      gap: 5rem;
      button {
        width: 15rem;
        height: 3rem;
        background-color: #143447;
        color: aliceblue;
        font-size: large;
        border-radius: 1rem;
        &:hover {
          color: #ff0763;
        }
      }
    }
  }
  .info-card {
    width: 50%;
    img {
      width: 20rem;
    }
  }
}
.introduction {
  display: flex;
  padding: 4rem;
  max-width: 90%;
  margin: 1.5rem 0;

  place-content: center;
  box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -webkit-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -moz-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);

  .introduction-paragraph {
    text-align: center;
    width: 75%;
    color: gray;
  }
}

.advantages-section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 5rem;
  max-width: 90%;
  align-items: center;
  margin: 1.5rem 0;
  text-align: center;
  box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -webkit-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -moz-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);

  .advantages-title {
    h1 {
      text-align: center;
    }
    .paragraph {
      width: 100%;

      font-size: 1.5rem;
      text-align: center;
    }
  }
  .advantages-container {
    display: flex;
    flex: 0 0 1;
    gap: 5rem;
    padding: 4rem;

    .advantage {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20rem;

      .advantage-picture {
        height: 5rem;
        width: auto;
        margin-bottom: 1rem;
      }
    }
  }
}
.contact-section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  max-width: 90%;
  margin: 1.5rem 0;
  align-items: center;
  box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -webkit-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);
  -moz-box-shadow: 0rem 0rem 1rem 0.625rem rgba(237, 112, 220, 0.17);

  h1 {
    text-align: center;
  }

  .contact-container {
    display: flex;
    align-items: center;
    .country-list {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0 2rem;
      h3 {
        color: blueviolet;
        margin-bottom: 1.5rem;
      }
      ul {
        list-style: none;

        li {
          display: flex;
          padding: 0.5rem 0;
          align-items: center;
          .contact-picture {
            width: 3rem;
            margin-right: 1rem;
          }
        }
      }
    }

    .contact-card {
      width: 30rem;
    }
  }
}
